name: skip-zip
on:
  push:
    branches: [ main ]
    tags: "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:
  pull_request:

permissions:
  contents: write

jobs:
  call-workflow:
    uses: skiptools/actions/.github/workflows/skip-framework.yml@main
    with:
      run-android-native-build: true
      runs-on: "['macos-15-intel', 'ubuntu-24.04']"
